.button {
    display: flex;
    align-items: center;
    height: 48px;
    width: 100%;
    border-left: 1px solid #8e8e8e;
    border-bottom: 1px solid #8e8e8e;
    font-size: 20px;

    &:last-of-type {
        border-right: 1px solid #8e8e8e;
    }
}

.button-gray {
    background-color: #e0e0e0;
    color: #000;
}

.button-dark-gray {
    background-color: #999999;
    color: #fff;
}

.button-orange {
    background-color: #FF8C00;
    color: #fff;
}

.button-places-1 {
    width: 25%;
}

.button-places-2 {
    width: 50%;
}

.button-places-4 {
    width: 100%;
}

.button-right {
    justify-content: flex-end;
    padding: 0 20px;
}

.button-center {
    justify-content: center;
}